.folderPageContainer {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    
}


.headerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 3rem 4rem;
    border-bottom: .1rem solid var(--soft-light-colour);
}

.headerContainer > h1 {
    font-size: 2.4rem;
    font-weight: 600;
    /* color: #333333; */
}



.logOutContainer{
    height: 4.7rem;
    aspect-ratio: 1;

    overflow: hidden;


    border-radius: .4rem;
    border: solid .1rem transparent;

    /* padding: .7rem; */
    cursor: pointer;

    position: relative;

    transition: .2s linear background-color,
                .2s linear border;

    & > svg {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        height: 70%;

        object-fit: contain;


        overflow: hidden;

        fill: white;
    }
}


.logOutContainer:hover {
    background-color: #ffffff34;

    border: solid .1rem var(--soft-light-colour);
}







.mainContainer{
    flex: 1 1 0;

    display: flex;
    flex-direction: row;



    width: 100%;

    background-color: rgb(255, 0, 234);

    overflow: hidden;
}

.mainContainer > aside {
    --inline-padding-sidebar: 1rem;


    flex-shrink: 0;

    width: 30rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;


    padding: 1rem 1rem;

    /* border-right: .1rem solid var(--soft-light-colour); */
    /* border-right: .1rem solid var(--soft-light-colour); */

    background-color: #222222;

    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.7);

}


.mainContainer > main {
    flex: 1 1 0;
    height: 100%;


    background-color: var(--dark-consistent-bg-header-colour);

    display: flex;
    flex-direction: column;
    gap: 2rem;

    overflow: hidden;


    padding: 1rem 1rem;

}