.folderPageContainer {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    
}


.headerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 3rem 4rem;
    border-bottom: .1rem solid var(--soft-light-colour);
}

.headerContainer > h1 {
    font-size: 2.4rem;
    font-weight: 600;
    /* color: #333333; */
}



.logOutContainer{
    height: 4.7rem;
    aspect-ratio: 1;

    overflow: hidden;


    border-radius: .4rem;
    border: solid .1rem transparent;

    /* padding: .7rem; */
    cursor: pointer;

    position: relative;

    transition: .2s linear background-color,
                .2s linear border;

    & > svg {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        height: 70%;

        object-fit: contain;


        overflow: hidden;

        fill: white;
    }
}


.logOutContainer:hover {
    background-color: #ffffff34;

    border: solid .1rem var(--soft-light-colour);
}





.loadingContainer{
    flex: 1 1 0;

    display: flex;
    justify-content: center;
    align-items: center;



    width: 100%;
}