.signinOuterContainer {
    --blue-button-colour: rgb(0, 89, 255);
    --hover-button-colour: rgb(0, 65, 185);

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;


    width: 100%;
    max-width: 35rem;
    height: 100%;
    max-height: 55rem;

    background: linear-gradient(to bottom right, rgb(189, 231, 255), white);
    color: rgb(29, 29, 29);

    padding: 2rem;


    border-radius: .5rem;
    box-shadow: 0 0 3rem rgba(0, 0, 0, .8);
}

.signinOuterContainer h2 {

    margin-top: 3.5rem;
    margin-bottom: 3rem;

    font-size: 3.5rem;
    font-weight: 1800;
}

.signinOuterContainer > form{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}






.inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    
    width: 100%;
    max-width: 30rem;
}

.inputGroup label {
    font-size: 1.4rem;
    margin-bottom: .6rem;
}

.inputGroup input {
    padding: .9rem 0;
    padding-left: .6rem;

    font-size: 1.5rem;
    border-radius: .2rem;
    border: .1rem solid #333;
    background: #fff;
    color: #000;
    transition: 0.25s;
}

.inputGroup input:focus {
    border-color: #0f4fff;
    outline: none;
    box-shadow: 0 0 .5rem rgba(255, 255, 255, 0.4);
}

.submitButton {
    width: 100%;
    max-width: 30rem;

    padding: 1.2rem;
    background: var(--blue-button-colour);
    color: white;
    border: none;
    border-radius: .6rem;
    margin-top: 2rem;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: bold;
    transition: 0.25s;
}

.submitButton:hover {
    background: var(--hover-button-colour);
}

.switchSignInParagraph {
    margin-top: auto;
    margin-bottom: 2rem;

    display: flex;
    column-gap: .3rem;


    text-align: center;
    font-size: 1.4rem;
    color: #727272;
}

.switchSignInParagraph a {
    color: var(--blue-button-colour);
    text-decoration: none;
    font-weight: bold;
    transition: 0.25s;
    text-decoration: underline;
}

.switchSignInParagraph a:hover {
    color: var(--hover-button-colour);
}





.errorMessage{
    color: red;

    margin-bottom: .5rem;
}