.buttonsContainer{
    flex-shrink: 0;
    
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: .5rem;


}




.optionBtn{
    flex-shrink: 0;

    width: 100%;
    height: 4rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    padding: .6rem var(--inline-padding-sidebar);

    font-size: 1.3rem;
    font-weight: 500;

    background-color: var(--color-bg-secondary);
    color: var(--soft-light-colour);


    border: .1rem solid var(--soft-light-colour);
    border-radius: .4rem;

    cursor: pointer;
    transition: background-color .2s ease-in-out,
                color .2s ease-in-out,
                border .2s ease-in-out;


    overflow: hidden;
}


.optionBtn:hover{
    background-color: rgba(255, 255, 255, 0.1);

    border: .1rem solid white;

    color: white;
}


.optionBtn > svg{
    height: 100%;

    fill: var(--soft-light-colour);

    object-fit: contain;

    overflow: hidden;

    transition: fill .2s ease-in-out;
}

.optionBtn > svg:hover{
    fill: white;
}

