.cwdFoldersFilesContainer{
    --section-right-width: 12rem;
    --section-column-gap: 1rem;
    --section-inline-padding: 1rem;


    flex: 1 1 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    overflow-y: auto;

}



.headerContainer{
    flex-shrink: 0;

    width: 100%;
    height: 4rem;

    display: flex;
    align-items: center;
    gap: var(--section-column-gap);

    font-size: 1.8rem;

    text-align: start;

    padding: 0 var(--section-inline-padding);

}

.sectionHeader{
    position: relative;
}

.sectionHeader:not(:first-child)::before{
    content: '';

    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-1rem, -50%);

    height: 100%;
    width: .2rem;

    background-color: var(--soft-light-colour);

    border-radius: .4rem;

}


.sectionName{
    font-weight: 700;

    flex: 1 1 0;
}

.sectionType,
.sectionDate{
    flex-shrink: 0;


    width: var(--section-right-width);
}



.sectionType{

}


.sectionDate{
}





.itemsContainer{
    flex: 1 1 0;

    width: 100%;

    display: flex;
    flex-direction: column;
    gap: .8rem;
}



.itemRow{
    display: flex;
    align-items: center;
    gap: var(--section-column-gap);

    width: 100%;
    height: 4rem;

    padding: .4rem var(--section-inline-padding);

    background-color: var(--dark-container-colour);

    border-radius: .4rem;
    border: .1rem solid var(--soft-light-colour);

    cursor: pointer;
    font-size: 1.5rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    fill: var(--soft-light-colour);

    transition: background-color .2s ease-in-out,
                border .2s ease-in-out,
                fill .2s ease-in-out;
}

.itemRow:hover{
    background-color: rgba(255, 255, 255, 0.1);

    border: .1rem solid white;

    fill: white;
}



.itemName{
    flex: 1 1 0;

    font-weight: 500;
}



.itemType,
.itemDate{
    flex-shrink: 0;

    width: var(--section-right-width);
}


.itemDate{
    font-size: 1.3rem;
}


.itemType{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    overflow: hidden;

    height: 100%;
}


.itemType > svg{
    height: 85%;
    object-fit: contain;

}