

.fileInfoDialogContainer{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: flex-start;
    gap: 2rem;
    
    flex: 1 1 0;
    width: 100%;

}



.infoRow{
    flex-shrink: 0;

    display: flex;
    align-items: center;
    gap: 1rem;

    width: 100%;
}

.infoLabel{
    font-weight: 600;
    width: 10rem;
    flex-shrink: 0;
}



.btnContainer{
    flex-shrink: 0;

    display: flex;
    align-items: center;
    gap: 1rem;

    width: 100%;

    margin-top: auto;
}

.actionBtn{
    height: 4.8rem;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;

    border-radius: .5rem;

    /* background-color: var(--blue-button-colour); */

    transition: background-color .2s ease-in-out;

    color: white;
}





.deleteBtn{
    flex: 1 1 0;

    background-color: red;
}

.deleteBtn:hover{
    background-color: darkred;
}



.shareBtn{
    flex: 1 1 0;

    background-color: var(--blue-button-colour);
}

.shareBtn:hover{
    background-color: var(--hover-button-colour);
}



.downloadBtn{
    flex: 2 1 0;

    background-color: green;
}

.downloadBtn:hover{
    background-color: darkgreen;
}