.folderDialogContainer{
    flex: 1 1 0;
    width: 100%;

}


.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

    width: 100%;
    height: 100%;
}


.inputContainer{
    flex-shrink: 0;

    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}




.folderNameInput{
    font-size: 1.6rem;
    font-weight: 500;

    padding: 1.2rem 1.5rem;

    flex-shrink: 0;

    width: 100%;
    height: 4.8rem;

    background-color: var(--dark-container-colour);

    border-radius: .4rem;
    border: .1rem solid var(--dark-container-colour);

    color: black;
    background-color: var(--soft-light-colour);

    transition: border .2s ease-in-out;
}

.folderNameInput:focus{
    border: .1rem solid var(--hover-button-colour);
}


.folderNameInput::placeholder{
    font-size: 1.5rem;
}



.createFolderBtn{
    flex-shrink: 0;

    width: 100%;
    height: 4.8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--blue-button-colour);
    border-radius: .4rem;
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color .2s ease-in-out;

    color: white;

}

.createFolderBtn:hover{
    background-color: var(--hover-button-colour);
}


.errorMessage{
    color: red;
}