.shareFolderDialogContainer{
    flex: 1 1 0;
    width: 100%;

}


.form{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    gap: 2rem;

    width: 100%;
    height: 100%;
}



.option{
    font-size: 1.6rem;
    font-weight: 500;

    padding: 1.2rem 1.5rem;

    flex-shrink: 0;

    width: 100%;
    height: 4.8rem;

    background-color: var(--dark-container-colour);

    border-radius: .4rem;
    border: .1rem solid var(--soft-light-colour);


    cursor: pointer;

    transition: border .2s ease-in-out;

}

.option:hover{
    border: .1rem solid white;
    border-left-width: .8rem;
}

.option:has(input:checked){
    border: .1rem solid var(--hover-button-colour);
    border-left-width: .8rem;
}


.option > input {
    appearance: none;
}



.generateLinkBtn{
    flex-shrink: 0;

    margin-top: auto;

    width: 100%;
    height: 4.8rem;
    background-color: var(--blue-button-colour);
    border-radius: .4rem;
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color .2s ease-in-out;

    color: white;

}

.generateLinkBtn:hover{
    background-color: var(--hover-button-colour);
}



.description{
    font-size: 1.6rem;
    color: var(--soft-light-colour);
    text-align: center;

    margin-top: 1rem;
}